@import 'src/theme/theme-variables';

:host {
    padding: 20px;
    width: calc(100% - 20px);
    max-height: 630px;
    overflow: hidden;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
    margin: 10px auto;
    #name {
      color: $green;
      font-weight: 600;
    }
    #id {
        color: $gray-700;
        margin: 0;
    }
}